# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
myenv

# IDE-specific files
.vscode/
.idea/

# Logs
*.log

# Database
*.sqlite3
db.sqlite3



# Temporary files
*.swp
*.swo

# Compiled Python files
*.pyc

# Configuration files
*.ini

# Secret key
config.py

# .env file (for environment variables)
.env

# Ignore migrations (uncomment this if you use South or other migration tools)
# /migrations/
.idea/workspace.xml

.pyc
__pycache__
