<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Sign up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

  </head>
  <body>
    <section class="mt-3">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-4">
            {% comment %} <h6 class="heading-section">Login</h6> {% endcomment %}
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-5">
            <div class="login-wrap p-4 p-md-5">
              <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-user-o"></span>
              </div>
              <h3 class="text-center mb-4">Sign up</h3>
              <form method="POST" class="login-form">
                {% csrf_token %} <!-- Include this for security -->
                <div class="form-group">
                  <input type="email" class="form-control rounded-left" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control rounded-left" name="username" placeholder="Username" required>
                </div>
                <div class="form-group d-flex">
                  <input type="password" class="form-control rounded-left" name="password" placeholder="Password" required>
                </div>
                <div class="signup-link">
                  Already a member? <a href="/">Login</a>
               </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary rounded submit pt-2 px-5">Sign up</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

  </body>
</html>
